
/* page cover */
.cover {
    justify-content: center;
    font-size: xx-large;
    min-height: 20rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.cover>h1 {
    z-index: 50;

    /* filter: none; */
    /* box-shadow: 0 0 5px var(--box-shadow-light); */

    color:var(--primary-color);
}


.cover>img {
    z-index: 0;
    filter: blur(0.17rem);
    /* filter: brightness(80%); */
    width: 100%;
    height: 140%;
    position: absolute;


}



@media screen and (max-width:900px) {
    .cover {
        font-size: larger;
    }
}