
/* *page footer */

footer{
    background-color:var(--primary-color);
    color:var(--font-color);   
}


footer> section{
    width: 100%;
    padding:3rem 2rem;
    justify-content: space-evenly;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-shrink: 0;
}


footer > section >section{
    flex-basis: 12rem;
}


footer> section > section >ul{
    display:grid;
    row-gap: 0.5rem;
    padding: 1rem 0;
}



footer> section > section >ul> li{
    
    list-style-type:none;
    font-size: large;
    text-transform: capitalize;
    transition: transform 0.3s ease-in;
    font-size: 1rem;
    display:flex;
    column-gap: 0.3rem;
    text-indent: 0.2rem;
    align-items: center;
    
    
}



footer> section > section >ul> li> a{
    color: inherit;
    text-decoration: none;
}

footer> section > section >ul> li>  i{
    color:var(--font-color);
}



footer> section > section >ul> li:hover{
    transform: translateX(8px);
    
}


footer > .copyright-txt{
    text-align: center;
    padding:1.5rem;
    border-top: 2px solid var(--font-color);
}









