@import url("../main.css");
@import url("../componentStyles/navbar.css");
@import url("../componentStyles/drawer.css");
@import url("../componentStyles/animation.css");
@import url("../componentStyles/cards.css");
@import url("../componentStyles/cover.css");
@import url("../componentStyles/slider.css");
@import url("../componentStyles/footer.css");





/* *page's main content */
main {
    min-height: 90vh;
    padding:5rem 0;
    /* position: relative; */
}

/* *individual Collection heading  */
.collection-heading{
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color-dark);
    animation: FadeBottomIn 1s ;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
    animation-delay: 0;
    position: relative;
}
